@font-face {
  font-family: SinkinSans;
  src: url(../fonts/SinkinSans-100Thin.otf) format("opentype");
}

@font-face {
  font-family: SinkinSans;
  src: url(../fonts/SinkinSans-400Regular.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: SinkinSans;
  src: url(../fonts/SinkinSans-500Medium_0.otf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: SinkinSans;
  src: url(../fonts/SinkinSans-600SemiBold.otf) format("opentype");
  font-weight: 600;
}
